/* Footer */
/* .footer {
    margin-top: 120px;
    padding-top: 45px;
    background: url(../assets/imgs/footer.svg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 235px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
} */